@import '../Styles/variables';
.catalog{
    padding-bottom: 4rem;
    .title{
        @extend %font-family;
        font-weight: 700;
        font-size: 32px;
    }
    .header{
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;
    }
    .content{
        display: grid;
        grid-template-rows: repeat( auto-fit, minmax(22rem, 1fr));
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        row-gap: 3rem;
        column-gap: 4rem;
    }
}