@import '../Styles/variables';
.IsOrdered{
    display: grid;
    height: 100%;
    &__container{
        width: 70%;
        place-self: center;
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }
    &__content{
        padding-top: 20px;
        margin-bottom: 40px;
    }
    &__title{
        @extend %font-family;
        font-weight: 600;
        font-size: 22px;
        color: $premial
    }
    &__subtitle{
        @extend %font-family;
        font-weight: 400;
        font-size: 16px;
    }
}