@import '../Styles/variables';
.card{
    box-sizing: border-box;
    padding: 30px;
    @extend %card-border;
    transition: all ease .5s;
    width: 250px;
    height: 340px;
    &:hover{
        box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05); 
        transform: translateY(-5px);
    }
    .container{
        position: relative;
    }
    .img{
        display: flex;
        justify-content: center;
    }
    .name{
        @extend %font-family;
        font-weight: 500;
        font-size: 14px;
        margin-top: 14px;
        margin-bottom: 14px;
    }
    .cost{
        display: flex;
        width: 100%;
        justify-content: space-between;
        &Left{
            flex-basis: 30rem;
            display: flex;
            flex-direction: column;
        }
        &Info{
            @extend %font-family;
            font-weight: 500;
            font-size: 11px;
            line-height: 13px;
            color: $small-text;
        }
        &Dig, &Currency{
            font-family: Inter,  sans-serif;
            font-weight: 700;
            font-size: 14px;
        }
        .add{
            @extend %small-btn;
            svg{
                fill: $small-text; 
            }
            &:hover{
                background-color: $add-btn;
                svg{
                    fill: $add-icon;
            }
        }
        }
        .added{
            border-radius: 8px;
            align-self: center;
            background: linear-gradient(180deg, #89F09C 0%, #3CC755 100%);
        }
    }
    .like{
        @extend %small-btn;
        position: absolute;
        height: 2rem;
        width: 3rem;
        top: 0;
        left: 0;
        svg{
            fill: #fff;
            stroke: $small-text;
        }
        &:hover{
            background-color: $like-btn;
            svg{
                fill: $like-icon;
            }
        }
    }
    .liked{
        @extend %small-btn;
        position: absolute;
        height: 2rem;
        width: 3rem;
        top: 0;
        left: 0;
        background-color: $like-btn;
        svg{
            fill: $like-icon;
            stroke: $small-text;
        }
    }
}