@import '../Styles/variables';

.submit-button{
    display: flex;
    @extend %font-family;
    background-color: $premial;
    border-radius: 18px;
    font-weight: 500;
    font-size: 18px;
    padding: 18px 70px 18px 70px;
    color: #fff;
    width: 100%;
    transition: $transition;
    &:hover{
        background-color: darken($premial,20%);
        svg{
            transform: translateX(5px);
        }
    }
    span{
        flex-grow: 1;
    }
    svg{
        transition: $transition;
        align-self: center;
    }
}
.reversed{
    flex-flow: row-reverse;
    svg{
        transform: rotateY(180deg);
    }
    &:hover{
        svg{
            transform: translateX(-10px) rotateY(180deg);
        }
    }
}